# Compiled class files
*.class

# Maven / Gradle build folders
target/
build/

# Package files
*.jar
*.war
*.ear

# Logs
*.log

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
bin/
.idea/ 
*.iml 
