<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

<!-- Enable component scanning -->
    <context:component-scan base-package="com.decipherzone.bean.Student"/>

    <!-- Enable annotation-based configuration -->
    <context:annotation-config/>

    <!-- Example bean with setter injection-->
    <bean id="student1" class="com.decipherzone.bean.Student" >
        <!-- property tag is used for setter dependency injection -->
        <property name="studentId" value="10"/>

        <property name="studentName" value="Atul"/>

        <property name="studentAddress" value="Goa"/>

    </bean>
<!--    this is second bean or object-->
    <bean id="student2" class="com.decipherzone.bean.Student">
        <!-- property tag is used for setter dependency injection -->

        <property name="studentId" value="20"/>

        <property name="studentName" value="Yash"/>

        <property name="studentAddress" value="Bangalore"/>
    </bean>

</beans>
